#time-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: var(--cyan);
    width: 100%;
    transform-origin: left;
    will-change: transform;
    z-index: 10;
}
