#time-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #2aa198; /* Solarized Cyan */
    width: 100%;
    z-index: 10; /* Ensure it stays above everything */
}
